body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #FCEAFA;
}

h2 {
    color: black;
}

p {
    line-height: 1.5;
}

a {
    font-weight: bold;
}

a:hover {
    color: #FD7EC2;
}